<div class="container">

  <div class="pages-title">
    <h1>Edit Task</h1>
 </div>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>

  <%= f.label :completed %>
  <%= f.text_field :completed %>

  <%= f.submit %>
<% end %>

<div class="badge badge-warning">
<%= link_to 'Update Task', tasks_path %>
</div>
</div>
